HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
# 强制忽略.idea文件夹（递归匹配所有目录下的.idea）
**/.idea/
# 忽略IDEA生成的配置文件
*.iws
*.iml
*.ipr
# 补充忽略IDEA的其他缓存文件
*.iij
*.iiq
.idea_modules/
*.jws
*.jspx

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/